# Build outputs
/out/
/dist/
/bin/*.cmd
/tools/vsce-fabric/*.vsix
/AgentVM.exe

# Dependencies, IDE
node_modules/
/.vscode/
/.vsce/
/*.log

rootfs.tar
_rootfs/


rootfs.tar
_rootfs/

_rootfs/
rootfs.tar
_rootfs/
rootfs.tar
_rootfs/
rootfs.tar
